SUPABASE_URL=https://zibubwrntdmdxyimqddo.supabase.co
SUPABASE_KEY=sb_publishable_IGXGYoh2jg1ardyg9jW3vg_DTybVlOL
ARGO_ADMIN_EMAIL=your-admin-email
ARGO_ADMIN_PASSWORD=your-admin-password
PRINTER_HOST=192.168.1.130
PRINTER_PORT=9100
POLL_MS=2500
